/*
    Timber Medina
    INSY 4315-001
    Project 2- External CSS
*/
/*
    Timber Medina
    INSY 4315-001
    Project 2- External CSS
*/

body {
    background-color: aliceblue;
    font-family: Georgia, sans-serif;
}

img {
    width: 25%; 
    height: auto; 
    border-radius: 15px; 
    border: 2px solid #ccc;
}

h1 {
    text-align: center;
    color: black;
}

.content {
    float: left;
    width: 70%;
    margin: auto;
    padding: 10px;
    overflow: hidden; 
}

p {
    font-size: 1.3em;
    color: black;
    text-align: left;
    margin: 0;
    padding: 5%;
}


img.first-image {
    width: 25%;  
    float: right;  
    margin-left: 20px;
    margin-bottom: 10px;
    border: auto;
    
}


.bottom-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 10px;
}


img.second-image, img.third-image {

    width: 25%;
    border-radius: 15px;
    border: 2px solid #ccc;
}
.Himage 
{
    width: 3%;

}
table.menu {
    text-align: center;
    width: 60%;
    margin: auto;
    background-color: lightgray;
    border: auto;
    padding: auto;
}

img.logo {
    width: 3%; 
    border-radius: 15px;

}





